body {
    margin: 0;
}

section {
    height: 100vh;
}

.one {
    background-color: #000;
}

.two {
    background-color: #333;
}

.three {
    background-color: #666;
}

.square {
    height: 100px;
    width: 100px;
    background-color: red;
}
